@font-face {
  font-family: "Buyan";
  src: url("../fonts/buyan/BuyanThin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Buyan";
  src: url("../fonts/buyan/BuyanRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Buyan";
  src: url("../fonts/buyan/BuyanBold.ttf") format("truetype");
  font-weight: 700;
}
