.header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.05);

  &_active {
    min-height: 233px;
  }

  &__wrapper {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__collections-item {
    display: inline;
    margin-right: 37px;
    text-transform: uppercase;
    line-height: 23px;
    a {
      color: $main-color;
      &:hover {
        color: $hover-color;
      }
    }

    &_active {
      a {
        font-weight: 700;
      }
    }
  }

  &__logo {
    width: 102px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
    img {
      width: 100%;
    }
  }

  &__favorites-item {
    display: inline;
    margin-left: 45px;
    text-transform: uppercase;
    a {
      color: $main-color;
      &:hover {
        color: $hover-color;
      }
    }
  }
}

@media (max-width: 769px) {
  .header {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0);
    &__wrapper {
      display: none;
    }
  }
}

@media (max-width: 376px) {
  .header {
    &__logo {
      width: 65px;
      height: 35px;
    }
  }
}
